catkin_pkg==1.1.0
actuator_msgs==0.0.1
rosidl_runtime_py==0.14.1
pydantic==2.12.5
osrf_pycommon==2.1.6
Jinja2==3.1.6
generate_parameter_library_py==0.7.1
PyQt-builder==0.0.0
regex==2026.1.15
nvidia-cuda-nvrtc==13.0.88
ament_lint_cmake==0.19.2
stereo_msgs==5.5.2
rosidl_generator_rs==0.4.11
sensor_msgs==5.5.2
typing-inspect==0.9.0
aiohappyeyeballs==2.6.1
rosidl_typesupport_introspection_c==4.9.6
rmw_dds_common==5.0.0
ros_gz_interfaces==2.1.15
glfw==2.10.0
pillow==12.1.1
absl-py==2.4.0
rclpy==9.1.5
pluggy==1.6.0
gps_msgs==2.1.2
rosidl_generator_type_description==4.9.6
fonttools==4.62.1
urdfdom_py==1.2.1
flake8-quotes==3.4.0
ros2run==0.38.3
easyhid-ng==0.1.0
PyQt5==5.15.11
nvidia-cusparselt-cu13==0.8.1
smmap==5.0.2
mergedeep==1.3.4
ament_cmake_test==2.7.5
lz4==4.4.5
evdev==1.9.3
cppcheck-htmlreport==2.18.3
typer==0.24.1
visualization_msgs==5.5.2
vision_msgs==4.2.0
launch_testing==3.8.7
PyOpenGL==3.1.10
rviz_resource_interfaces==15.0.12
typing_extensions==4.15.0
ros2action==0.38.3
rosidl_generator_c==4.9.6
nvidia-cuda-runtime==13.0.96
nvidia-cudnn-cu13==9.20.0.48
torchvision==0.27.1
pyarrow==23.0.0
ros2param==0.38.3
importlib_metadata==8.7.0
pyserial==3.5
av==15.1.0
octomap_msgs==2.0.1
safetensors==0.7.0
etils==1.13.0
diagnostic_msgs==5.5.2
pyyaml-include==1.4.1
rosgraph_msgs==2.3.1
stable_baselines3==2.9.0
Farama-Notifications==0.0.4
pyparsing==3.3.2
tf2_py==0.41.6
launch_param_builder==0.1.1
ament_flake8==0.19.2
wandb==0.24.2
cycler==0.12.1
launch_yaml==3.8.7
orderly-set==5.5.0
nvidia-nvtx==13.0.85
colorama==0.4.6
isort==5.13.2
mpmath==1.3.0
propcache==0.4.1
typeguard==4.5.1
transforms3d==0.4.2
dill==0.4.0
scipy==1.17.1
rosidl_typesupport_fastrtps_cpp==3.8.2
composition_interfaces==2.3.1
rosidl_cli==4.9.6
pydocstyle==6.3.0
polars==1.40.1
nvidia-cufile==1.15.1.6
pygame==2.6.1
gymnasium==1.2.3
ros2cli==0.38.3
flake8-docstrings==1.7.0
protobuf==6.33.5
pycparser==2.22
aic_control_interfaces==0.0.1
docutils==0.22.4
aic_example_policies==0.0.1
charset-normalizer==3.4.4
launch_xml==3.8.7
six==1.17.0
joint_state_publisher==2.4.1
triton==3.7.1
nvidia-nccl-cu13==2.29.7
gitdb==4.0.12
Pygments==2.19.2
builtin_interfaces==2.3.1
snowballstemmer==3.0.1
cuda-bindings==13.3.1
statistics_msgs==2.3.1
actionlib_msgs==5.5.2
interactive_markers==2.7.1
geometry_msgs==5.5.2
GitPython==3.1.46
pybullet==3.2.5
shape_msgs==5.5.2
filelock==3.29.0
ros2bag_sqlite3_cli==0.32.0
polars-runtime-32==1.40.1
idna==3.11
ros2service==0.38.3
opencv-python==4.13.0
mdurl==0.1.2
cuda-toolkit==13.0.2
rpyutils==0.6.3
control_msgs==6.8.0
ultralytics==8.4.48
torch==2.12.1
controller_manager_msgs==5.12.0
diagnostic_updater==4.3.6
ament_package==0.17.2
ultralytics-thop==2.0.19
PyYAML==6.0.3
launch_ros==0.28.5
rosidl_typesupport_fastrtps_c==3.8.2
std_msgs==5.5.2
psutil==7.2.2
pycodestyle==2.14.0
pyright==1.1.408
tqdm==4.67.3
ros2topic==0.38.3
topic_tools==1.4.2
rosidl_typesupport_c==3.3.3
shellingham==1.5.4
nav_msgs==5.5.2
rosidl_adapter==4.9.6
nvidia-cublas==13.1.1.3
httpcore==1.0.9
flake8-builtins==3.1.0
pytest==9.0.2
multidict==6.7.1
setuptools==80.10.2
rospkg==1.6.1
sympy==1.14.0
ament_cpplint==0.19.2
imageio-ffmpeg==0.6.0
ros2component==0.38.3
lerobot==0.5.1
type_description_interfaces==2.3.1
sip==6.10.0
rcutils==6.9.10
nvidia-nvjitlink==13.0.88
rosidl_parser==4.9.6
topic_tools_interfaces==1.4.2
xacro==2.1.1
action_msgs==2.3.1
python-dateutil==2.9.0.post0
tf2_msgs==0.41.6
flake8_import_order==0.19.2
unique_identifier_msgs==2.7.0
h11==0.16.0
importlib_resources==6.5.2
frozenlist==1.8.0
httpx==0.28.1
einops==0.8.2
ur_msgs==2.5.0
service_msgs==2.3.1
rosbag2_interfaces==0.32.0
ament_index_python==1.11.3
ament_pep257==0.19.2
rosidl_cmake==4.9.6
iniconfig==2.3.0
ament_uncrustify==0.19.2
pynput==1.8.1
ply==3.11
aic_model==0.0.1
marine_acoustic_msgs==2.1.0
lerobot-teleoperator-devices==0.1.0
trajectory_msgs==5.5.2
json5==0.13.0
lark-parser==0.12.0
rosidl_typesupport_introspection_cpp==4.9.6
ament_cppcheck==0.19.2
ros2launch==0.28.5
kiwisolver==1.5.0
nvidia-cufft==12.0.0.61
flake8==7.3.0
ur_dashboard_msgs==4.5.0
sensor_msgs_py==5.5.2
rosidl_pycommon==4.9.6
ros_gz_bridge==2.1.15
markdown-it-py==4.0.0
lerobot_robot_aic==0.0.0
nvidia-cusolver==12.0.4.66
annotated-doc==0.0.4
typing-inspection==0.4.2
pyflakes==3.4.0
ros2lifecycle==0.38.3
ros2plugin==5.6.2
empy==3.3.4
pal_statistics==2.7.0
annotated-types==0.7.0
lerobot-robot-ros==0.1.0
rich==14.3.3
numpy==2.2.6
nlopt==2.10.1
pal_statistics_msgs==2.7.0
attrs==25.4.0
map_msgs==2.5.0
pyspacemouse==2.0.0
anyio==4.13.0
ros2doctor==0.38.3
hf-xet==1.4.3
ament_copyright==0.19.2
distro==1.9.0
fsspec==2025.9.0
pandas==3.0.0
cloudpickle==3.1.2
click==8.3.1
aic_teleoperation==0.0.0
packaging==25.0
diffusers==0.35.2
tomli==2.4.0
launch_testing_ros==0.28.5
nvidia-curand==10.4.0.35
contourpy==1.3.3
ament_lint==0.19.2
angles==1.16.1
flake8-comprehensions==3.17.0
platformdirs==4.7.0
rosidl_generator_cpp==4.9.6
controller_manager==5.12.0
cryptography==46.0.5
ros2multicast==0.38.3
laser_geometry==2.10.2
mccabe==0.7.0
rcl_interfaces==2.3.1
jsonlines==4.0.0
mujoco==3.5.0
urllib3==2.6.3
std_srvs==5.5.2
tf2_ros_py==0.41.6
ur_robot_driver==4.5.0
python-xlib==0.33
aiohttp==3.13.3
draccus==0.10.0
launch==3.8.7
yarl==1.22.0
resource_retriever==3.7.1
ImageIO==2.37.2
huggingface_hub==1.9.1
toml==0.10.2
srdfdom==2.0.8
cmake==4.1.3
nvidia-cuda-cupti==13.0.85
ros2_controllers_test_nodes==5.13.1
networkx==3.6.1
rmw_test_fixture_implementation==0.14.7
pybind11-global==3.0.3
message_filters==7.1.6
sros2==0.15.5
aic_task_interfaces==0.0.1
ros_gz_sim==2.1.15
xxhash==3.6.0
datasets==4.1.1
torchcodec==0.5
nvidia-cusparse==12.6.3.3
rosidl_generator_py==0.24.2
cffi==2.0.0
tf2_kdl==0.41.6
multiprocess==0.70.16
PyQt5_sip==12.17.0
ros2bag_mcap_cli==0.32.0
ros2node==0.38.3
ament_xmllint==0.19.2
simulation_interfaces==1.3.0
matplotlib==3.10.9
rosidl_typesupport_cpp==3.3.3
python_qt_binding==2.3.2
ros2interface==0.38.3
pybind11==3.0.3
opencv-python-headless==4.13.0
moveit_configs_utils==2.14.3
lxml==6.0.2
requests==2.32.5
zipp==3.23.0
deepdiff==8.6.1
rerun-sdk==0.26.2
MarkupSafe==3.0.3
mypy_extensions==1.1.0
sentry-sdk==2.52.0
nodeenv==1.10.0
tf2_geometry_msgs==0.41.6
accelerate==1.12.0
exceptiongroup==1.3.1
object_recognition_msgs==2.0.0
lifecycle_msgs==2.3.1
aiosignal==1.4.0
aic_model_interfaces==0.0.1
cuda-pathfinder==1.5.6
argcomplete==3.6.3
termcolor==3.3.0
pydantic_core==2.41.5
certifi==2026.1.4
ros2pkg==0.38.3
moveit_msgs==2.7.1
nvidia-nvshmem-cu13==3.4.5
rosdistro==1.0.1
joint_state_publisher_gui==2.4.1
